import React, { Component } from 'react';
import './App.css';
import Guide from './Guide';
{{# sheet_arr}}
import {{page_name}} from './pages/{{page_name}}'
{{/ sheet_arr}}
import {
  BrowserRouter as Router,
  Route,
  Link
} from 'react-router-dom'
import { Menu, Divider, Header,Image } from 'semantic-ui-react'

class App extends Component {
  state = {user:null, users: [], login:false}

  handleItemClick = (e, { name }) => this.setState({ activeItem: name })
  
  getCookie(name) {
	  var value = "; " + document.cookie;
	  var parts = value.split("; " + name + "=");
	  if (parts.length === 2) return parts.pop().split(";").shift();
  }
  
  deleteCookie(name) {
	  document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  }
  
  onError(res){
	  if(res.status === 403 || res.status === 401){
		  this.deleteCookie("uid")
	      this.deleteCookie("tooken")
	      this.setState({ login:false })
	  }
  }
  
  componentWillMount(){
      let uid = this.getCookie("uid")
      let token = this.getCookie("tooken")
      if(uid !== null && token !== null){
        this.setState({ login:true })
      }
  }
  
  onlineChange(users){
	  this.setState({ users: users })
  }
  
  onLogin(user){
	  this.setState({ user: user, login:true })
  }

  render() {
	const { activeItem } = this.state
	if(!this.state.login) return  <Guide onLogin={this.onLogin.bind(this)} login={this.state.login}/>
    return (
      <Router>
      <div className="body">
		<Link to='/'>
			<Header><Image src='https://s3-ap-northeast-1.amazonaws.com/ms17222/whale64.png' size='tiny' wrapped verticalAlign='bottom'/><span>whale-data</span></Header>
		</Link>
        <Menu>
        {{# sheet_arr}}
			<Menu.Item name='{{resource_path}}' active={activeItem === '{{resource_path}}'} as={Link} to='/{{resource_path}}' onClick={this.handleItemClick} >{{model_title}}</Menu.Item>
		{{/ sheet_arr}}
        </Menu>
	    <Divider />
		<Route exact path="/" render={() => <Guide onLogin={this.onLogin.bind(this)} login={this.state.login} onError={this.onError.bind(this)}/>} />
		{{# sheet_arr}}
		<Route path='/{{resource_path}}' render={() => <{{page_name}} onError={this.onError.bind(this)}/>}/>
		{{/ sheet_arr}}
	  </div>
	  </Router>
    );
  }
}

export default App;
