import React, { Component } from 'react';
{{# sheet_arr}}
import {{page_name}} from './pages/{{page_name}}'
{{/ sheet_arr}}
import CustomRoute from './components/CustomRoute'
import {Switch,Route} from 'react-router-dom'
class Routes extends Component {
	render() {
		return (
			<Switch>
				{{# sheet_arr}}
				<Route path='/{{resource_path}}' component={ {{page_name}} } />
				{{/ sheet_arr}}
				<CustomRoute user={this.props.user} setUser={this.props.setUser}/>
			</Switch>
		)
	}
}

export default Routes;